/** GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap');

/** VARIABLES CSS */
:root {
    --header-height: 5rem;

    /** Colors */
    /**Color mode HSL(hue, saturation, lightness)*/
    --first-hue: 258;
    --second-hue: 225;
    --first-color: hsl(var(--first-hue), 54%, 48%);
    --title-color: hsl(var(--second-hue), 64%, 18%);
    --text-color: hsl(var(--first-hue), 8%, 35%);
    --border-color: hsl(var(--second-hue), 4%, 55%);
    --body-color: hsl(var(--first-hue), 60%, 98%);
    --container-color: #fff;

    /** Font and Typography */
    /**.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Jost', sans-serif;
    --biggest-font-size: 4.25rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /** Font Weight */
    --font-light: 300;
    --font-medium: 500;
    --font-semibold: 600;

    /** z-index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/** Responsive typography */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/** BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body,
button,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.6rem;
    text-align: justify;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: .75rem;
}

/** REUSABLE CSS CLASSES */
.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

.section {
    padding: 7rem 0 2rem;
}

.section__subtitle,
.section__title {
    text-align: center;
}

.section__title {
    font-size: var(--h1-font-size);
    color: var(--first-color);
    margin-bottom: 3rem;
}

.section__subtitle {
    display: block;
}

/** HEADER & NAV*/
.header {
    width: 100%;
    background-color: var(--container-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
}

.nav {
    height: calc(var(--header-height) + 2.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 3rem;
    transition: .5s;
}

.nav__logo {
    width: 20%;
    display: inline-flex;
    align-items: center;
}

.nav__list {
    display: flex;
    column-gap: 2rem;
}

.nav__link {
    position: relative;
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .5s;
}

.nav__link:hover {
    color: var(--first-color);
}

.nav__close,
.nav__toggle {
    color: var(--title-color);
}

.nav__close {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 1.25rem;
    cursor: pointer;
}

.nav__toggle {
    font-size: 1.25rem;
    cursor: pointer;
}

.nav__close,
.nav__toggle {
    display: none;
}

/** Active link */
.nav__link:hover::before,
.nav__link::before {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;
    width: 0;
    height: 2px;
    background-color: var(--first-color);
    border-radius: 25%;
    transition: .5s;
}

.nav__link:hover::before,
.active-link::before {
    width: 30px;
}

.active-link {
    color: var(--first-color);
}

/** Change background header */
.scroll-header {
    box-shadow: 0 1px 4px hsla(0, 0%, 15%, .1);
}

.scroll-header .nav {
    height: var(--header-height);
}

/** HOME */
.home {
    padding: 12.5rem 0 2rem;
}

.home__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
}

.home__subtitle,
.home__title {
    font-size: var(--biggest-font-size);
    line-height: 68px;
    font-weight: var(--font-light);
}

.home__subtitle {
    margin-bottom: .75rem;
}

.home__title {
    margin-bottom: 2rem;
}

.home__title span {
    font-weight: var(--font-medium);
}

.home__buttons {
    display: flex;
    flex-direction: column;
    row-gap: .25rem;
}

.home__buttons span {
    color: var(--first-color);
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
}

.home__buttons span:nth-child(2) {
    opacity: .7;
}

.home__buttons span:nth-child(3) {
    opacity: .4;
}

.home__images {
    grid-template-columns: 4fr 8fr;
    column-gap: 1.875rem;
}

.home__group {
    margin-top: 2rem;
    grid-template-columns: 10fr 2fr;
    column-gap: 1.875rem;
}

.home__description {
    font-size: var(--h2-font-size);
    line-height: 36px;
    margin-bottom: 2.5rem;
}

.home__description span {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.home__social {
    display: flex;
    align-items: center;
}

.home__social-follow {
    color: var(--title-color);
    font-size: 17px;
    font-weight: var(--font-medium);
    padding-right: 8.175rem;
    position: relative;
}

.home__social-follow::after {
    content: '';
    position: absolute;
    right: 1rem;
    top: 58%;
    width: 100px;
    height: 2px;
    background-color: hsla(var(--second-hue), 64%, 18%, .15);
    margin: -1px;
}

.home__social-links {
    display: inline-flex;
    column-gap: .5rem;
}

.home__social-link {
    display: inline-flex;
    align-items: center;
    padding: 1rem .875rem .875rem 1rem;
    border-radius: .75rem;
    border: 1px solid hsla(var(--second-hue), 64%, 18%, .15);
    background-color: var(--container-color);
    color: var(--title-color);
}

.home__social-link i {
    font-size: var(--h2-font-size);
    text-align: center;
    transition: .5s;
}

.home__social-link span {
    display: inline-block;
    font-weight: var(--font-medium);
    white-space: nowrap;
    line-height: 20px;
    transform: translate(1rem);
    max-width: 0;
    overflow: hidden;
    transition: 1.2s;
}

.home__social-link span::after {
    content: '';
    margin-right: 1rem;
}

.home__social-link:hover i,
.home__social-link:hover span {
    color: var(--first-color);
}

.home__social-link:hover span {
    max-width: 400px;
}

.experience__img {
    width: 160px;
    justify-self: flex-end;
}

/** BUTTONS */
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--container-color);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    transition: .5s;
}

.button:hover {
    background-color: var(--title-color);
}

/** ABOUT */
.about__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.875rem;
}

.about__img {
    justify-self: center;
}

.about__subtitle,
.about__title {
    text-align: left;
}

.about__title {
    margin-bottom: 2.5rem;
}

.about__description {
    color: var(--title-color);
    font-weight: var(--font-medium);
    font-size: 17px;
    margin-bottom: 1.5rem;
}

.about__details {
    margin-bottom: 2.5rem;
}

.about__award {
    grid-template-columns: 4fr 8fr;
    align-items: center;
}

.award__title {
    font-size: 17px;
    font-weight: var(--font-medium);
    margin-bottom: .5rem;
}

/** SERVICES */
.services__container {
    grid-template-columns: 4.5fr 7.5fr;
    align-items: center;
    column-gap: 6rem;
}

.services__button {
    position: relative;
    display: inline-block;
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    line-height: 30px;
    padding-right: 1.25rem;
    cursor: pointer;
    transition: .5s;
}

.services__tab div:not(:last-child) {
    margin-bottom: 1rem;
}

.services__button::before {
    content: '';
    width: 0;
    height: 2px;
    position: absolute;
    left: 100%;
    top: 50%;
    background-color: var(--first-color);
    transition: .5s;
}

.services__button.services__active::before,
.services__button:hover::before {
    width: 100px;
}

.services__button.services__active,
.services__button:hover {
    color: var(--first-color);
}

.services__item {
    grid-template-columns: 5fr 7fr;
    column-gap: 1.875rem;
}

.services [data-content] {
    display: none;
}

.services__active[data-content] {
    display: block;
}

.services__title {
    padding-top: .25rem;
    color: var(--title-color);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
    font-size: 17px;
    line-height: 1.6rem;
    text-align: justify;
}

/** WORK */
.work__container {
    column-count: 4;
    column-gap: 1.875rem;
}

.work__content {
    position: relative;
    margin-bottom: 1.5rem;
}

.work__content:hover {
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}

.work__content:hover {
    cursor: pointer;
    transform: scale(1.05);
    border: .05rem solid var(--first-color);
    border-radius: .75rem;
    transition: .5s;
}

/** PROJECT */
.project {
    padding: 6.25rem 0;
    background-image: url('../img/background-cta.jpg');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center 85.1688px;
}

.project__container {
    place-items: center;
}

.project__title,
.project__description {
    text-align: center;
}

.project__title {
    font-size: 2rem;
    margin-bottom: .25rem;
}

.project__description {
    font-size: var(--h3-font-size);
    margin-bottom: 2rem;
}

/** EXPERIENCE */
.qualification__container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
}

.timeline__item {
    position: relative;
    padding-left: 3rem;
    margin-bottom: 2.5rem;
}

.timeline__item:last-child {
    margin-bottom: 0;
}

.timeline__item::before {
    content: '';
    width: 2px;
    height: 60%;
    position: absolute;
    left: .459rem;
    top: 0;
    background-color: var(--first-color);
    transition: .5s;
}

.timeline__item:hover::before {
    height: 100%;
}

.circle__dot {
    position: absolute;
    left: 0;
    top: 0;
    height: 1rem;
    width: 1rem;
    border: 2px solid var(--first-color);
    border-radius: .25rem;
    background-color: var(--body-color);
    transform: rotate(135deg);
    transition: .5s;
}

.timeline__item:hover .circle__dot {
    background-color: var(--first-color);
}

.timeline__title {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    margin-bottom: 1rem;
}

.timeline__date {
    display: flex;
    align-items: center;
    column-gap: .4rem;
    font-size: var(--small-font-size);
    color: var(--first-color);
    margin-bottom: .5rem;
}

/** CONTACT */
.contact__container {
    grid-template-columns: 6.5fr 5.5fr;
    column-gap: 3rem;
    align-items: flex-start;
    padding-bottom: 3rem;
}

.contact__form-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1.5rem;
}

.contact__form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.contact__form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid hsl(var(--second-hue), 4%, 55%);
    background: none;
    color: var(--text-color);
    outline: none;
    border-radius: .75rem;
    padding: 1.5rem;
    z-index: 1;
}

.contact__form-tag {
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--body-color);
    z-index: 10;
}

.contact__form-area {
    height: 10.25rem;
}

.contact__form-area textarea {
    resize: none;
}

.contact__info {
    display: grid;
    row-gap: 1.875rem;
}

.contact__card div {
    display: flex;
    column-gap: .75rem;
    margin-bottom: .5rem;
}

.contact__icon {
    font-size: 1.8rem;
    color: var(--first-color);
    display: inline-block;
    margin-bottom: .25rem;
}

.contact__card-title,
.contact__card-data {
    font-size: var(--normal-font-size);
}

.contact__card-title {
    padding-top: .16rem;
    font-weight: var(--font-medium);
}

.contact__card-data {
    display: block;
    margin-left: 2.75rem;
    margin-bottom: .5rem;
}

/** FOOTER */
.footer {
    background-color: var(--first-color);
}

.footer__container {
    padding: 2rem 0 2rem;
}

.footer__title,
.footer__link {
    color: var(--container-color);
}

.footer__title {
    font-size: var(--h1-font-size);
    text-align: center;
    margin-bottom: 2rem;
}

.footer__link {
    font-size: 18px;
}

.footer__list {
    display: flex;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2.25rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
}

.footer__social-link {
    background-color: var(--body-color);
    color: var(--first-color);
    font-size: 1.25rem;
    padding: .48rem;
    border-radius: .5rem;
    display: inline-flex;
}

.footer__copy {
    display: block;
    text-align: center;
    margin-top: 2.5rem;
    color: var(--container-color);
    font-size: var(--small-font-size);
}

/** BREAKPOINTS */
/** For Large Devices */
@media screen and (max-width: 1208px) {
    .container {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }

    .about__award {
        column-gap: 1.875rem;
    }

    .services__container {
        column-gap: 3rem;
    }
}

@media screen and (max-width: 1024px) {
    .nav__logo-img {
        width: 100px;
    }

    .home__container {
        column-gap: 1.25rem;
    }

    .home__group {
        grid-template-columns: 9.5fr 2.5fr;
    }

    .home__title,
    .home__subtitle {
        line-height: 48px;
    }

    .home__title {
        margin-bottom: 1.5rem;
    }

    .home__description {
        font-size: var(--h3-font-size);
        line-height: 30px;
    }

    .home__social-follow {
        font-size: var(--normal-font-size);
    }

    .home__social-link {
        padding: .625rem .625rem .5rem .625rem;
        border-radius: .5rem;
    }

    .about__title {
        margin-bottom: 2rem;
    }

    .about__description {
        margin-bottom: 1rem;
        font-size: var(--normal-font-size);
    }

    .award__title {
        font-size: var(--normal-font-size);
    }

    .about__details {
        margin-bottom: 2rem;
    }

    .services__container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .services__button.services__active::before,
    .services__button:hover::before {
        width: 80px;
    }

    .services__title {
        font-size: var(--normal-font-size);
    }

    .work__container {
        column-count: 3;
    }

    .project__title {
        font-size: var(--h2-font-size);
    }

    .project__description {
        font-size: var(--normal-font-size);
        margin-bottom: 1.5rem;
    }

    .timeline__item {
        padding-left: 2.5rem;
        margin-bottom: 2rem;
    }

    .contact__container {
        grid-template-columns: 7.5fr 4.5fr;
        column-gap: 2rem;
    }

    .footer__link {
        font-size: var(--normal-font-size);
    }

    .footer__social-link {
        padding-left: .30rem;
        border-radius: .25rem;
        font-size: 1rem;
    }
}

/** For Medium Devices */
@media screen and (max-width: 768px) {
    .section {
        padding: 4.5rem 0 2rem;
    }

    .nav {
        height: var(--header-height);
    }

    .nav__menu {
        position: fixed;
        background-color: var(--container-color);
        top: 0;
        right: -100%;
        width: 80%;
        height: 100%;
        padding: 4rem 0 0 3rem;
        box-shadow: -2px 0 4px hsla(250, 24%, 15%, .1);
        transition: .5s;
    }

    /** show menu */
    .show-menu {
        right: 0;
    }

    .nav__list {
        flex-direction: column;
        row-gap: 1.5rem;
    }

    .nav__toggle,
    .nav__close {
        display: block;
    }

    .nav__logo-img {
        width: 90px;
    }

    .home {
        padding: 9rem 0 2rem;
    }

    .home__container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .home__images {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .home__img {
        width: 160px;
        order: 2;
    }

    .slide__img {
        width: 225px;
    }

    .home__group {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .experience__img {
        justify-self: flex-start;
    }

    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 250px;
    }

    .services__item {
        grid-template-columns: 1fr;
        row-gap: 1.875rem;
    }

    .services__img {
        width: 350px;
    }

    .project {
        padding: 4.5rem 3rem;
    }

    .qualification__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .contact__container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .contact__info {
        order: 1;
    }
}

@media screen and (max-width: 576px) {
    .home__title {
        line-height: 60px;
        margin-bottom: 1rem;
    }

    .home__subtitle {
        margin-bottom: .5rem;
    }

    .home__social {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1.2rem;
    }

    .home__social-follow::after {
        display: none;
    }

    .about__award {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .services__img {
        width: 300px;
    }

    .work__container {
        column-count: 2;
    }

    .contact__form-group {
        grid-template-columns: 1fr;
    }
}

/** For Small Devices */
@media screen and (max-width: 350px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .home__img {
        width: 140px;
    }

    .slide__img {
        width: 200px;
    }

    .services__button.services__active::before,
    .services__button:hover::before {
        width: 60px;
    }

    .services__button {
        padding-right: 1rem;
    }

    .work__container {
        column-count: 1;
    }
}